:root {
    --background: rgb(0, 67, 122);
    --backgroundLigh: rgb(128, 165, 197);
    --fontW: rgb(246, 250, 255);


}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*
CABECERA Y PIE
*/

header {
    width: 100%;
    background-color: var(--background);
    color: var(--fontW);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    padding: 5px 20px;
    z-index: 99;
}

header a {
    color: var(--fontW);
    text-decoration: none;
}

header .logo a {
    font-size: 32px;
    border-bottom: 3px solid var(--background);
    transition: all .3s ease-in-out;
}

header .logo a:hover {
    border-bottom: 3px solid var(--fontW);
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-weight: 400;
    font-size: 22px;
    border-bottom: 3px solid var(--background);
    transition: all .3s ease-in-out;
}

nav a:hover {
    border-bottom: 3px solid var(--fontW);
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    color: var(--fontW);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding: 5px 20px;


}

/*
HASTA AQUI CABECERA Y PIE
-------------------------------------------------------
-------------------------------------------------------
MIGAS DE PAN
*/

.breadcrumbs {
    width: 100%;
    background-color: var(--backgroundLigh);
    color: var(--fontW);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 5vh;
    padding: 5px 60px;
    box-shadow: 0px 1px 1px 2px var(--background);
}

.breadcrumbs a{
    text-decoration: none;
    font-weight: 600;
    color: var(--background);
    border-bottom: 3px solid var(--background);
    transition: all .3s ease-in-out;
}

.breadcrumbs a:hover{
    border-bottom: 3px solid var(--fontW);
}